<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="MyGet" value="https://www.myget.org/F/wrapper-pdfium/api/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MyGet>
      <add key="Username" value="edgar.martinez@silk.jp" />
      <add key="ClearTextPassword" value="NEOD@rk2505" />
    </MyGet>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="Wrapper" />
  </activePackageSource>
</configuration>